.header__lang-link {
    color: #FFF;
    font-size: 1.5rem;
    line-height: 1.2;
    text-decoration: none;
}

.header__lang-link:first-child {
    margin-right: 18px;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 1.12rem;
        line-height: 1.11;
    }
}