
.page {
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;

    max-width: 1184px;
    margin: auto;
}

@media screen and (max-width: 1280px) {
    .page {
        max-width: 92.5%;
    }
}

