.place__paragraph {
    margin: 26px 0 0;
    color: white;
    font-size: 1.12rem;
    line-height: 1.63;
    font-weight: 400;
}

.place__paragraph:first-child {
    margin: 0;
}


@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        padding-right: 7.5vw;
    }
}