/* 2 */
.lead_image2 {
    margin: 64px 8.5% 0;
    width: 984px;
    padding-bottom: 615px;

    /*max-width: 100%;*/
    /*padding-bottom: 62.5%;*/

    background-image: url(../../../images/lead-polka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1280px) {
    .lead_image2 {
        margin: 56px 8.5% 0;
        max-width: 83%;
        padding-bottom: 51.8%;
    }
}

@media screen and (max-width: 1024px) {
    .lead_image2 {
        margin: 56px 0 0;
        width: 100%;
        padding-bottom: 62.5%;
    }
}

/**/


.lead__image {
    margin: 64px 8.5% 0;
    width: 83%;
}


@media screen and (max-width: 1280px) {
    .lead__image {
        width: 984px;
        margin: 64px calc((100vw - 7.5vw - 984px) / 2) 0;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 100%;
        margin: 56px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: 100vw;
        margin: 56px 0 0;

        position: relative;
        left: -3.13%;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin: 40px 0 0;
    }
}

