.lead__image {
    margin: 64px 8.5% 0;

    width: 83%;
    padding-bottom: 51.8%;

    background: url(../../../images/lead-polka.jpg);
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin: 56px 0 0;

        width: 100%;
        padding-bottom: 62.5%;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: 100vw;
        padding-bottom: 62.5vw;

        position: relative;
        left: -24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin: 40px 0 0;
        left: -16px;
    }
}