
.lead__image {
    margin: 64px 8.5% 0;
    width: 83%;
}


@media screen and (max-width: 1280px) {
    .lead__image {
        width: 984px;
        margin: 64px calc((100vw - 7.5vw - 984px) / 2) 0;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 100%;
        margin: 56px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: 100vw;
        margin: 56px 0 0;

        position: relative;
        /*left: -3.13%;*/
        left: -24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin: 40px 0 0;
        position: relative;
        /*left: -3.13%;*/
        left: -16px;
    }
}

