.place {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr) );

    gap: 48px 40px;
}

@media screen and (max-width: 1280px) {
    .place {
        gap: 3.75vw 3.1vw ;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-top: 73px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin-top: 50px;
        gap: 32px;
    }
}